---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Adol-BK">
  <div class="container mx-auto">
    <h1 class="text-4xl font-extrabold text-center">Hello World!</h1>
  </div>
</BaseLayout>
