---
import { Image } from 'astro:assets'

const { github, author } = Astro.props
---

<section class="px-28 py-12 grid justify-items-center mb-48">
  <a href={`https://github.com/${github}`} target="_blank">
    <Image
      src="https://avatars.githubusercontent.com/bulukucing"
      alt={`${author} Profile`}
      inferSize={true}
      class="rounded-full h-48 w-48 mb-6 border-2 border-teal-500 transition transition-1000 hover:border-teal-800 hover:shadow-lg hover:shadow-orange-600 cursor-pointer"
    />
  </a>

  <div class="max-w-xl text-center">
    <h1 class="text-2xl font-extrabold mb-2">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, culpa.
    </h1>
    <p class="text-medium">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab molestiae,
      quis sequi nisi laborum amet?
    </p>
  </div>
</section>
