---
const title = 'Bulu Kucing'
---

<nav class="py-4">
  <div class="container mx-auto px-28 flex flex-row justify-between">
    <div>
      <a href="/" class="text-lg font-medium">{title}</a>
    </div>
    <div class="flex gap-4">
      <a href="/completed-games" class="text-lg font-medium hover:text-teal-600"
        >My games</a
      >
      <a href="/about" class="text-lg font-medium hover:text-teal-600">About</a>
    </div>
  </div>
</nav>
