---
import '@fontsource/poppins'

import '../style/global.css'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

import BaseHead from '../components/BaseHead.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${title} - ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body class="bg-orange-100 text-gray-800">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
